<html>
    <body>
        <div class="panel">
            <div class="panel-body">
                <h1 class="text-center well-lg"><strong>PayVip</strong></h1>
                <h4 class="text-center text-danger well-lg">La compra no se ha podido realizar</h4>
                <a class="btn btn-default btn-lg btn-block" href="/#/drinks/name"
                   data-testabit="silent"
                   data-testabit-category="Purchases"
                   data-testabit-action="try_again"
                   data-testabit-label="{{ 'try_again.label' | trans({} , 'testabit' ) }}"
                   data-testabit-value="">
                    Volver a intentar
                </a>
            </div>
        </div>
    </body>
</html>
